!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title JQuery Text Manipulation
    %link{ :href => "/stylesheets/screen.css", :rel=> "stylesheet", :media=>'screen', :type=> "text/css"}/
    %link{ :href => "/stylesheets/print.css", :rel=> "stylesheet", :media=>'print', :type=> "text/css"}/
    /[if lt IE 8]
      %link{ :href => "/stylesheets/ie.css", :rel=> "stylesheet", :media=>'screen', :type=> "text/css"}/
    %link{ :href => "/stylesheets/application.css", :rel=> "stylesheet", :media=>'screen', :type=> "text/css"}/
    %script{ :src=>"/javascripts/jquery.js", :type=>"text/javascript"}
    %script{ :src=>"/javascripts/application.js", :type=>"text/javascript"}
  %body
    .container
      .span-24
        = yield